.info{
    display:flex;
    flex-direction: row;
}

#texto{
    white-space: wrap;
}

.demas{
    flex-direction: column;
    background-color:aliceblue;
    color: rgb(0, 0, 0);
    width: 200px;
    height: 100%;
    text-align: center;
    align-content: center;
}

.botones{
    background-color: rgb(255, 110, 0);
    color:aliceblue;
    border: none;
    border-radius: 1cm;
    
    font-size:x-large;
    font-family: "Oswald", sans-serif;

    width: 65%;
    height: 50px;

    margin: 2%;
}

.botones:hover{
    background-color: rgb(255, 130, 0);
}

.cambios{
    
    height: 100%;
}


#foto{
    width: 450px;
}