body{
    background-image: url(./assets/img/HOTEL_DE_PURAS_MARAVILLAS_1.png);
    background-repeat: no-repeat;
    background-size: auto 101% ;
    padding: 0px;
    margin: 0px;  
}
.titulo{
    text-align: center;
    font-family: sans-serif;
    color: rgb(255, 191, 119);
}

.footer {
    text-align: center;
    font-size: x-large;
    background-color: rgb(255, 191, 119);
    color: black;
    padding: 3%;
}
